<div class="container">
    <mat-card>
        <mat-card-title>Add new appointment</mat-card-title>
        <form (ngSubmit)="onSubmit()" #patientForm="ngForm" class="form-component">
            <mat-form-field>
                <input matInput [(ngModel)]="model.startDate" placeholder="Start Date" required name="startDate"
                       [owlDateTimeTrigger]="startDate" [owlDateTime]="startDate">
                <owl-date-time #startDate></owl-date-time>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="model.endDate" placeholder="End Date" required name="endDate"
                       [owlDateTimeTrigger]="endDate" [owlDateTime]="endDate">
                <owl-date-time #endDate></owl-date-time>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Search by email" [(ngModel)]="emailSearch" name="emailSearch">
            </mat-form-field>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let patient of patients | filter : emailSearch">
                    <td><input type="radio" name="radiogroup" [value]="patient.id" [(ngModel)]="model.patientId"
                               required></td>
                    <td>{{patient.firstName}}</td>
                    <td>{{patient.lastName}}</td>
                    <td>{{patient.email}}</td>
                    <td>{{patient.phoneNumber}}</td>
                </tr>
                </tbody>
            </table>
            <button mat-button type="submit" class="btn" [disabled]="!patientForm.form.valid">Submit</button>
        </form>
    </mat-card>
</div>