.gradle/
.idea/
.DS_Store
doctor-service/build/
patient-service/build/
config/build/
gateway/build/
registry/build/
doctor-service/out/
gateway/src/test/
patient-service/out/
registry/src/test/
appointment-service/build/
appointment-service/out/
auth-service/build/
monitoring/build/
monitoring/src/test/
node_modules/
