.gradle/
.idea/
.DS_Store
doctor-service/build/
patient-service/build/
config/build/
gateway/build/
registry/build/
doctor-service/out/
gateway/src/test/
patient-service/out/
registry/src/test/
/user-interface/node_modules/
