<mat-sidenav-container class="sidenav-container" *ngIf="this.service.isUserLogin()">
    <mat-sidenav opened mode="side" class="left-menu">
        <a (click)="navigate('')">Home</a>
        <br>
        <a (click)="navigate('/appointments')">Appointments</a>
        <br>
        <a (click)="navigate('/patients')">Patients</a>
        <br>
        <a (click)="logout()">Logout</a>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>

<router-outlet *ngIf="!this.service.isUserLogin()"></router-outlet>