<div *ngIf="this.service.isUserLogin()" class="sidenav-container row">
    <div class="col-sm-1">
        <a (click)="navigate('')">Home</a>
        <br>
        <a (click)="navigate('/appointments')">Appointments</a>
        <br>
        <a (click)="navigate('/patients')">Patients</a>
        <br>
        <a (click)="logout()">Logout</a>
    </div>
    <div class="col-sm-11">
        <router-outlet></router-outlet>
    </div>
</div>
<div *ngIf="!this.service.isUserLogin()">
    <router-outlet></router-outlet>
</div>