<div *ngIf="this.service.isUserLogin()">
    <div #sidenav id="sidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a (click)="navigate('')">Home</a>
        <a (click)="navigate('/appointments')">Appointments</a>
        <a (click)="navigate('/patients')">Patients</a>
        <a (click)="logout()">Logout</a>
    </div>
    <div #main id="main">
        <span class="openNav" (click)="openNav()">&#9776;</span>
        <router-outlet></router-outlet>
    </div>
</div>
<div *ngIf="!this.service.isUserLogin()">
    <router-outlet></router-outlet>
</div>