<div class="container">
    <mat-card>
        <mat-card-title>Change appointment details</mat-card-title>
        <form #appointmentForm="ngForm" class="form-component">
            <mat-form-field>
                <input matInput [(ngModel)]="appointment.startDate" placeholder="Start Date" required name="startDate"
                       [owlDateTimeTrigger]="startDate" [owlDateTime]="startDate">
                <owl-date-time #startDate></owl-date-time>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="appointment.endDate" placeholder="End Date" required name="endDate"
                       [owlDateTimeTrigger]="endDate" [owlDateTime]="endDate">
                <owl-date-time #endDate></owl-date-time>
            </mat-form-field>
            <mat-form-field class="mat-textarea">
                <textarea matInput placeholder="Description" [(ngModel)]="appointment.description" required
                          name="description"></textarea>
            </mat-form-field>
            <mat-form-field class="mat-textarea">
                <textarea matInput placeholder="Remark" [(ngModel)]="appointment.remark"
                          name="remark"></textarea>
            </mat-form-field>
            <mat-form-field class="mat-textarea">
                <textarea matInput placeholder="Recommendation" [(ngModel)]="appointment.recommendation"
                          name="recommendation"></textarea>
            </mat-form-field>
            <mat-form-field class="mat-textarea">
                <textarea matInput placeholder="Reason" [(ngModel)]="appointment.reason"
                          name="Reason"></textarea>
            </mat-form-field>
            <button mat-button type="submit" class="btn" (click)="save()" [disabled]="!appointmentForm.form.valid">Submit</button>
            <button mat-button class="btn " (click)="done()" [disabled]="!appointmentForm.form.valid"
                    [ngClass]="appointment.status == 'DONE' ? 'btn-done' : ''">Done</button>
            <button mat-button class="btn " (click)="close()" [disabled]="!appointmentForm.form.valid"
                    [ngClass]="appointment.status == 'CLOSE' ? 'btn-close' : ''">Close</button>
        </form>
    </mat-card>
</div>
<br>
<div class="container patient-detail" (click)="navigateToPatient()">
    <mat-card>
        <mat-card-title>Patient details</mat-card-title>
        <span><b>First Name : </b> {{patient.firstName}}</span><br>
        <span><b>Last Name : </b> {{patient.lastName}}</span><br>
        <span><b>Date of Birth : </b>{{patient.dateOfBirth | date: 'MM/dd/yyyy'}}</span><br>
        <span><b>Email : </b>{{patient.email}}</span><br>
        <span><b>Phone number : </b>{{patient.phoneNumber}}</span>
    </mat-card>
</div>