<div class="row">
    <div class="col-md-6">
        <h2>New Patient</h2>

        <form (ngSubmit)="onSubmit()" #patientForm="ngForm">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" required [(ngModel)]="model.firstName"
                       name="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" required [(ngModel)]="model.lastName"
                       name="lastName">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" required [(ngModel)]="model.email"
                       name="email">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="model.phoneNumber"
                       name="phoneNumber">
            </div>
            <div class="form-group">
                <label for="height">Height</label>
                <input type="text" class="form-control" id="height" required [(ngModel)]="model.height"
                       name="height">
            </div>
            <div class="form-group">
                <label for="weight">Weight</label>
                <input type="text" class="form-control" id="weight" required [(ngModel)]="model.weight"
                       name="weight">
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date of Birth</label>
                <input type="text" class="form-control" id="dateOfBirth" required [(ngModel)]="model.dateOfBirth"
                       name="dateOfBirth">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text" class="form-control" id="gender" required [(ngModel)]="model.gender"
                       name="gender">
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!patientForm.form.valid">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Patients</h2>
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Date of Birth</th>
                <th>Gender</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of patients">
                <td>{{patient.firstName}}</td>
                <td>{{patient.lastName}}</td>
                <td>{{patient.email}}</td>
                <td>{{patient.phoneNumber}}</td>
                <td>{{patient.height}}</td>
                <td>{{patient.weight}}</td>
                <td>{{patient.dateOfBirth}}</td>
                <td>{{patient.gender}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
