<div class="container" *ngIf="weathers$ | async as weathers">
    <mat-card>
        <mat-card-title *ngIf="weathers.length > 0">
            Weather forecast - {{weathers[0].country + " - " + weathers[0].city}}
            <button mat-icon-button [ngClass]="isCelsius ? '' : 'temperature-button'" (click)="clickTemperature(flase)">
                F
            </button>
            <button mat-icon-button [ngClass]="isCelsius ? 'temperature-button' : ''" (click)="clickTemperature(true)">
                C
            </button>
        </mat-card-title>
        <div class="weather-keeper">
            <div *ngFor="let weather of weathers" class="weather-container">
                <span class="weather-image">
                    <embed type="image/svg+xml" [src]="getWeatherImage(weather)">
                </span>
                <span> {{weather.date | date: 'MM/dd/yyyy'}} - {{weather.weatherDescription}} </span>
                <span> {{calculateTemperature(weather.tempMax)}} - {{calculateTemperature(weather.tempMin)}} </span>
            </div>
        </div>
    </mat-card>
</div>
<br>
<div class="container">
    <mat-card>
        <ng-template #modalContent let-close="close">
            <div class="modal-header">
                <h5 class="modal-title">Event action occurred</h5>
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    Action:
                    <pre>{{ modalData?.action }}</pre>
                </div>
                <div>
                    Event:
                    <pre>{{ modalData?.event | json }}</pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
            </div>
        </ng-template>

        <div class="row text-center">
            <div class="col-md-4">
                <div class="btn-group">
                    <button mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                            (viewDateChange)="activeDayIsOpen = false" class="previous"> <
                    </button>
                    <button mat-button mwlCalendarToday [(viewDate)]="viewDate">Today</button>
                    <button mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                            (viewDateChange)="activeDayIsOpen = false" class="next"> >
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <button mat-button (click)="view = 'month'" [class.active]="view === 'month'">Month</button>
                    <button mat-button (click)="view = 'week'" [class.active]="view === 'week'">Week</button>
                    <button mat-button (click)="view = 'day'" [class.active]="view === 'day'">Day</button>
                </div>
            </div>
        </div>
        <br>
        <div [ngSwitch]="view">
            <mwl-calendar-month-view
                    *ngSwitchCase="'month'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="handleEvent('Clicked', $event.event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
                    *ngSwitchCase="'week'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
                    *ngSwitchCase="'day'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)">
            </mwl-calendar-day-view>
        </div>
    </mat-card>
</div>