<div class="container">
    <mat-card>
        <mat-card-title>Change patient details</mat-card-title>
        <form (ngSubmit)="onSubmit()" #patientForm="ngForm" class="form-component">
            <mat-form-field>
                <input matInput placeholder="First Name" [(ngModel)]="model.firstName" required name="firstName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last Name" [(ngModel)]="model.lastName" required name="lastName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="model.email" required name="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Phone Number" [(ngModel)]="model.phoneNumber" required name="phoneNumber">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Height" [(ngModel)]="model.height" required name="height">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Weight" [(ngModel)]="model.weight" required name="weight">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="model.dateOfBirth" placeholder="Date of Birth" required name="dateOfBirth"
                       [owlDateTimeTrigger]="dateOfBirth" [owlDateTime]="dateOfBirth">
                <owl-date-time [pickerType]="'calendar'" #dateOfBirth></owl-date-time>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Gender" required name="gender" [(ngModel)]="model.gender">
                    <mat-option value="MASCULINE"> Masculine</mat-option>
                    <mat-option value="FEMININE"> Feminine</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button type="submit" class="btn" [disabled]="!patientForm.form.valid">Submit</button>
        </form>
    </mat-card>
</div>
<br>
<div class="container">
    <mat-card>
        <mat-card-title>List of appointments</mat-card-title>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let appoint of appointments" (click)="navigateToAppointment(appoint.id)">
                <td>{{appoint.startDate | date: 'MM/dd/yyyy HH:mm'}}</td>
                <td>{{appoint.endDate | date: 'MM/dd/yyyy HH:mm'}}</td>
                <td [innerHtml]="getStatus(appoint)"></td>
            </tr>
            </tbody>
        </table>
    </mat-card>
</div>