body {
    background-color: #E7E7E7;
}

.login {
    padding-left: 100px;
    padding-top: 50px;
    background-color: white;
    width: 350px;
    height: 200px;
    border-radius: 0px 0px 10px 10px;
    border: solid #0077ff;
    border-width: 0px 3px 3px 3px;
    margin-left: 50px;
}

.welcome {
    height: 90px;
    background-color: #0077ff;
    margin-top: -25px;
    color: #FFFFFF;
    padding-left: 30px;
    padding-top: 20px;
}

.label {
    color: black;
    font-size: 15px;
}

.wwFormTable {
    margin-left: -40px;
}

input[type=submit] {
    margin-top: 30px;
}

.patient-table {
    background-color: white;
    width: 90%;
    margin-left: 5%;
    box-shadow: 10px 10px 5px #888888;
}

.table-name {
    padding-left: 5%;
    margin-top: 50px;
}

.danger-message {
    width: 310px;
    margin-left: 70px;
    margin-top: 10px;
}

.logout {
    float: right;
    margin-top: -83px;
}

.logout-button {
    height: 67px;
    background-color: #00aaff;
    width: 100px;
    border: none;
}

.search {
    float: right;
    margin-right: 5%;
    margin-top: -30px;
}

.search input[type=submit] {
    margin-top: 0px;
    margin-bottom: 10px;
}

.create {
    margin-left: 10%;
}

.create input[type=submit] {
    margin-top: 0px;
    margin-bottom: 0px;
}

.create-patient, .update-patient {
    margin-left: 20%;
    margin-top: 20px;
    width: 60%;
    margin-right: 20%;
    background-color: white;
    height: 500px;
    box-shadow: 10px 10px 5px #888888;
}

.create-patient form {
    margin-left: 150px;
    padding-top: 50px;
}

#cancel {
    float: right;
    margin-top: -33px;
    margin-right: 40px;
}

#ui-datepicker-div {
    background-color: #E7E7E7;
    box-shadow: 10px 10px 5px #888888;
}