@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-component {
    min-width: 150px;
    width: 100%;
}

.form-account-component {
    display: flex;
    flex-direction: column;
}

.doctor-component {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    height: 25%;
    width: 50%;
}

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}